<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container-fluid p-0">
        <%- include('../partials/header', {resources: resources}); %>
        <main>
            <% resources.forEach(function(fullResource, index){ const res = fullResource.resource || fullResource; %>
            <div class="resource-item">
                <!-- prettier-ignore -->
                <%- include('../partials/resourceHeader', {res: res, index: index}); %>
                <%- include('../partials/reference', {references: res.subject, name: "Subject"}); %>
                <%- include('../partials/json', {res: fullResource, index: index}); %>
            </div>
            <%})%>
        </main>
        <%- include('../partials/footer', {url: url, meta: meta}); %>
    </body>
</html>
