<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container-fluid p-0">
<%- include('../partials/header', {resources: resources}); %>

<main>
    <% resources.forEach(function(fullResource, index){ const res = fullResource.resource || fullResource; %>
        <div class="resource-item">
            <!-- prettier-ignore -->
            <%- include('../partials/resourceHeader', {res: res}); %>

            <%- include('../partials/nameValue', {value: res.name, name: "Name"}); %>
            <%- include('../partials/nameValue', {value: res.description, name: "Description"}); %>

            <%- include('../partials/dateTime', {value: res.approvalDate, name: "Approval Date"}); %>

            <%- include('../partials/uri', {value: res.library, name: "Library"}); %>

            <%- include('../partials/json', {res: fullResource, index: index}); %>
        </div>
    <% }) %>
</main>

<%- include('../partials/footer', {url: url, meta: meta}); %>
</body>
</html>
