<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container-fluid p-0">
    <%- include('../partials/header', {resources: resources}); %>
    <main>
        <% resources.forEach(function(fullResource, index){ const res = fullResource.resource || fullResource; %>
            <div class="resource-item">
                <!-- prettier-ignore -->
                <%- include('../partials/resourceHeader', {res: res}); %>
                <!-- prettier-ignore -->

                <%- include('../partials/code', {value: res.status, name: "Status"}); %>
                <%- include('../partials/reference', {references: res.partOf, name: "Part Of"}); %>
                <%- include('../partials/codeableConcept', {resourceType: res.resourceType, codeableConcepts: res.code, name: "Code", searchParameter: ''}); %>
                <%- include('../partials/reference', {references: res.subject, name: "Subject"}); %>
                <%- include('../partials/reference', {references: res.context, name: "Context"}); %>
                <%- include('../partials/dateTime', {value: res.occurrenceDateTime, name: "Occurrence Date-Time"}); %>
                <%- include('../partials/period', {periods: res.occurrencePeriod, name: 'Occurrence Period'}); %>
                <%- include('../partials/timing', {timing: res.occurrenceTiming, name: 'Occurrence Timing'}); %>
                <%- include('../partials/reference', {references: res.performingOrganization, name: "Performing Organization"}); %>
                <%- include('../partials/reference', {references: res.requestingOrganization, name: "Requesting Organization"}); %>
                <%- include('../partials/reference', {references: res.costCenter, name: "Cost Center"}); %>
                <%- include('../partials/quantity', {value: res.quantity, name: "Quantity"}); %>
                <%- include('../partials/codeableConcept', {resourceType: res.resourceType, codeableConcepts: res.bodySite, name: "Body Site", searchParameter: ''}); %>
                <%- include('../partials/decimal', {value: res.factorOverride, name: "Factor Override"}); %>
                <%- include('../partials/money', {value: res.priceOverride, name: "Price Override"}); %>
                <%- include('../partials/reference', {references: res.enterer, name: "Enterer"}); %>
                <%- include('../partials/dateTime', {value: res.enteredDate, name: "Entered Date"}); %>
                <%- include('../partials/codeableConcept', {resourceType: res.resourceType, codeableConcepts: res.reason, name: "Reason", searchParameter: ''}); %>
                <%- include('../partials/reference', {references: res.service, name: "Service"}); %>
                <%- include('../partials/reference', {references: res.productReference, name: "Product Reference"}); %>
                <%- include('../partials/codeableConcept', {resourceType: res.resourceType, codeableConcepts: res.produceCodeableConcept, name: "Produce Codeable Concept", searchParameter: ''}); %>
                <%- include('../partials/reference', {references: res.account, name: "Account"}); %>
                <%- include('../partials/annotation', {annotations: res.note, name: "Notes"}); %>
                <%- include('../partials/reference', {references: res.supportingInformation, name: "Supporting Information"}); %>
                 <!-- prettier-ignore -->
                <%- include('../partials/json', {res: fullResource, index: index}); %>
            </div>
            <%})%>
        </main>

        <%- include('../partials/footer', {url: url, meta: meta}); %>
    </body>
</html>
