<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container-fluid p-0">
        <%- include('../partials/header', {resources: resources}); %>
        <div class="container-fluid">
            <table class="table sticky-table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Resource</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% resources.forEach(function(resource){%>
                    <tr onclick="searchResource('<%= resource.name %>')" class="row-click">
                        <td><%= resource.name %></td>
                        <td class="pe-5 position-relative">
                            <%= resource.description %>
                            <i
                                class="fa fa-file-text-o dox-icon"
                                onclick="openDox(event, '<%= resource.url %>')"
                                title="FHIR Specification for <%= resource.name %>"
                            ></i>
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
        <!-- prettier-ignore -->
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>
