<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container-fluid p-0">
        <%- include('../partials/header', {resources: resources}); %>
        <main>
            <% resources.forEach(function(fullResource, index){ const res = fullResource.resource || fullResource; %>
            <div class="resource-item">
                <!-- prettier-ignore -->
                <%- include('../partials/resourceHeader', {res: res}); %>

                <h4>Name</h4>
                <!-- prettier-ignore -->
                <%= res.name %>
                <%- include('../partials/reference', {references: [res.ownedBy], name: "Owned By"}); %>
                <% if (res.plan) {%>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- prettier-ignore -->
                        <% res.plan.forEach(function(plan){%>
                        <% if (plan.identifier) {%>
                            <% plan.identifier.forEach(function(identifier){%>
                        <tr>
                            <td>
                                <!-- prettier-ignore -->
                                <% if (identifier.type && identifier.type.coding) {%>
                                    <% identifier.type.coding.forEach(function(coding){%>
                                        <%= coding.code %> (<%= coding.display %>)
                                    <%})%>
                                <%}%>
                            </td>
                            <td><%= identifier.value %></td>
                        </tr>
                        <!-- prettier-ignore -->
                        <%})%>
                        <%}%>
                        <%})%>
                    </tbody>
                </table>
                <!-- prettier-ignore -->
                <%}%>
                <%- include('../partials/json', {res: fullResource, index: index}); %>
            </div>
            <%})%>
        </main>

        <%- include('../partials/footer', {url: url, meta: meta}); %>
    </body>
</html>
