<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container-fluid p-0">
        <%- include('../partials/header', {resources: resources}); %>
        <main>
            <% resources.forEach(function(fullResource, index){ const res = fullResource.resource || fullResource; %>
            <div class="resource-item">
                <!-- prettier-ignore -->
                <%- include('../partials/resourceHeader', {res: res}); %>
                <!-- prettier-ignore -->
                <%- include('../partials/reference', {references: res.subject, name: "Subject"}); %>
                <%- include('../partials/reference', {references: res.issuer, name: "Issuer"}); %>
                <%- include('../partials/reference', {references: res.recipient, name: "Recipient"}); %>
                <%- include('../partials/reference', {references: res.account, name: "Account"}); %>
                <%- include('../partials/dateTime', {value: res.date, name: "Date"}); %>
                <%- include('../partials/codeableConcept', {resourceType: res.resourceType, codeableConcepts: res.type, name: "Type", searchParameter: ''}); %>
                <%- include('../partials/code', {value: res.status, name: "Status"}); %>
                <% if (res.totalGross) { %>
                <%- include('../partials/money', {value: res.totalGross.value, name: "Total Gross"}); %>
                <% } %>
                <% if (res.totalNet) { %>
                <%- include('../partials/money', {value: res.totalNet.value, name: "Total Net"}); %>
                <% } %>
                <%- include('../partials/nameValue', {value: res.cancelledReason, name: "Cancelled Reason"}); %>
                <%- include('../partials/markdown', {value: res.paymentTerms, name: "Payment Terms"}); %>
                <%- include('../partials/invoiceParticipant', {participants: res.participant, name: "Participants"}); %>
                <%- include('../partials/invoiceLineItem', {lineItems: res.lineItem, name: "Line Items"}); %>
                <%- include('../partials/invoicePriceComponent', {priceComponents: res.totalPriceComponent, name: "Total Price Component"}); %>
                <!-- prettier-ignore -->
                <%- include('../partials/json', {res: fullResource, index: index}); %>
            </div>
            <%})%>
        </main>

        <%- include('../partials/footer', {url: url, meta: meta}); %>
    </body>
</html>
