<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {resources: resources}); %>
</header>

<main>
  <div class="jumbotron">
    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>

        <div><h4>Status</h4><%= res.status %></div>

        <%- include('../partials/codeableConcept', {codeableConcepts: res.category, name: "Category"}); %>
        <%- include('../partials/codeableConcept', {codeableConcepts: [res.code], name: "Code"}); %>

        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer', {url: url}); %>
</footer>

</body>
</html>
