<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', {resources: resources}); %>
</header>

<main>
  <div class="jumbotron">
    <% resources.forEach(function(res){ %>
        <%- include('../partials/resourceHeader', {res: res}); %>

        <h4>Active</h4><%= res.active %>
        <h4>Name</h4><%= res.name %>

        <%- include('../partials/codeableConcept', {codeableConcepts: res.type, name: "Type"}); %>

         <%- include('../partials/address', {addresses: res.address, name: "Address"}); %>

         <%- include('../partials/contactpoint', {contacts: res.telecom, name: "Telecom"}); %>

        <div>
            <h4>Practitioner Roles</h4>
            <a href="/4_0_0/PractitionerRole?organization=<%= res.id %>">PractitionerRole?organization=<%= res.id %></a>
        </div>

        <div>
            <h4>Healthcare Services</h4>
            <a href="/4_0_0/HealthcareService?organization=<%= res.id %>">HealthcareService?organization=<%= res.id %></a>
        </div>

        <div>
            <h4>Locations</h4>
            <a href="/4_0_0/Location?organization=<%= res.id %>">Location?organization=<%= res.id %></a>
        </div>

        <%- include('../partials/json', {res: res}); %>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer', {url: url}); %>
</footer>

</body>
</html>
