<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <% resource.forEach(function(res){ %>
        <h2>Patient (id: <%= res.id %>)</h2>
        <div>
            <% res.name.forEach(function(name){ %>
                <div>
                    <%= name.family %>, <% name.given.forEach(function(given){ %> <%= given %> <%})%>
                </div>
            <%})%>
        </div>
        <div>Gender: <%= res.gender %></div>
        <div>
            <h4>General Practitioners</h4>
            <% res.generalPractitioner.forEach(function(generalPractitioner){ %>
                <div><a href="/4_0_0/<%= generalPractitioner.reference %>" target="_blank"><%= generalPractitioner.display %></a></div>
            <%})%>
        </div>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
