<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <% resource.forEach(function(res){ %>
        <h1>Patient (id: <%= res.id %>)</h1>
        <div>
            <% res.name.forEach(function(name){ %>
                <div>
                    <%= name.family %>, <% name.given.forEach(function(given){ %> <%= given %> <%})%>
                </div>
            <%})%>
        </div>
        <div>Gender: <%= res.gender %></div>
    <%})%>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
