<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container-fluid p-0">
<%- include('../partials/header', {resources: resources}); %>
<main>
    <% resources.forEach(function(res, index){ %>
        <div class="resource-item">
            <!-- prettier-ignore -->
            <%- include('../partials/resourceHeader', {res: res}); %>

            <%- include('../partials/humanNames', {names: res.name, resourceType: res.resourceType}); %>

            <%- include('../partials/contactpoint', {contacts: res.telecom, name: "Telecom", resourceType: res.resourceType}); %>
            <%- include('../partials/code', {value: res.gender, name: "Gender"}); %>

            <%- include('../partials/code', {value: res.active, name: "Active"}); %>

            <%- include('../partials/dateTime', {value: res.birthDate, name: "Birth Date"}); %>

            <!-- prettier-ignore -->
            <%- include('../partials/address', {resourceType: res.resourceType, addresses: res.address, name: "Address"}); %>

            <%- include('../partials/reference', {references: [res.managingOrganization], name: "Managing Organization"}); %>

            <% if (res.link){ %>
                <h4>Link</h4>
                <% res.link.forEach(function(link){ %>
                    <%- include('../partials/reference', {references: link.target, name: "Target"}); %>
                    <%- include('../partials/code', {value: link.assurance, name: "Assurance"}); %>
                <% }); %>
            <% } %>
            <!-- prettier-ignore -->
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'AuditEvent', property:'agent'}], id:res.id, name: "Audit Event"}); %>

            <hr></hr>
            <h3>Resources in Linked Patient Resources</h3>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Account', property:'patient'}], id:`Patient/person.${res.id}`, name: "Account" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'AllergyIntolerance', property:'patient'}], id:`Patient/person.${res.id}`, name: "AllergyIntolerance" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Appointment', property:'patient'}], id:`Patient/person.${res.id}`, name: "Appointment" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'AuditEvent', property:'patient'}], id:`Patient/person.${res.id}`, name: "AuditEvent" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'CareTeam', property:'patient'}], id:`Patient/person.${res.id}`, name: "CareTeam" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Condition', property:'patient'}], id:`Patient/person.${res.id}`, name: "Condition" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'ChargeItem', property:'patient'}], id:`Patient/person.${res.id}`, name: "ChargeItem" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Coverage', property:'patient'}], id:`Patient/person.${res.id}`, name: "Coverage" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Encounter', property:'patient'}], id:`Patient/person.${res.id}`, name: "Encounter" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Immunization', property:'patient'}], id:`Patient/person.${res.id}`, name: "Immunization" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'ExplanationOfBenefit', property:'patient'}], id:`Patient/person.${res.id}`, name: "ExplanationOfBenefit" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'MeasureReport', property:'patient'}], id:`Patient/person.${res.id}`, name: "MeasureReport" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'MedicationRequest', property:'patient'}], id:`Patient/person.${res.id}`, name: "MedicationRequest" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'MedicationStatement', property:'patient'}], id:`Patient/person.${res.id}`, name: "MedicationStatement" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Observation', property:'patient'}], id:`Patient/person.${res.id}`, name: "Observation" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Person', property:'link'}], id:`Person/${res.id}`, name: "Person" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Procedure', property:'patient'}], id:`Patient/person.${res.id}`, name: "Procedure" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Schedule', property:'patient'}], id:`Patient/person.${res.id}`, name: "Schedule" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'ServiceRequest', property:'patient'}], id:`Patient/person.${res.id}`, name: "ServiceRequest" }); %>
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'Task', property:'patient'}], id:`Patient/person.${res.id}`, name: "Task" }); %>

            <div>
                <h4>Connected Graph (Admin Access Required)</h4>
                <a href="/admin/showPersonToPersonLink?bwellPersonId=<%= res.id; %>">/admin/showPersonToPersonLink?bwellPersonId=<%= res.id; %></a>
            </div>

            <%- include('../partials/json', {res: res, index: index}); %>
        </div>
    <% }); %>
</main>

<%- include('../partials/footer', {url: url, meta: meta}); %>
</body>
</html>
