<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container-fluid p-0">
<%- include('../partials/header', {resources: resources}); %>
<main>
    <% resources.forEach(function(res, index){ %>
        <div class="resource-item">
            <!-- prettier-ignore -->
            <%- include('../partials/resourceHeader', {res: res}); %>

            <%- include('../partials/humanNames', {names: res.name, resourceType: res.resourceType}); %>

            <%- include('../partials/contactpoint', {contacts: res.telecom, name: "Telecom", resourceType: res.resourceType}); %>
            <%- include('../partials/code', {value: res.gender, name: "Gender"}); %>

            <%- include('../partials/code', {value: res.active, name: "Active"}); %>

            <%- include('../partials/dateTime', {value: res.birthDate, name: "Birth Date"}); %>

            <!-- prettier-ignore -->
            <%- include('../partials/address', {resourceType: res.resourceType, addresses: res.address, name: "Address"}); %>

            <%- include('../partials/reference', {references: [res.managingOrganization], name: "Managing Organization"}); %>

            <% if (res.link){ %>
                <h4>Link</h4>
                <% res.link.forEach(function(link){ %>
                    <%- include('../partials/reference', {references: link.target, name: "Target"}); %>
                    <%- include('../partials/code', {value: link.assurance, name: "Assurance"}); %>
                <% }); %>
            <% } %>
            <!-- prettier-ignore -->
            <%- include('../partials/reverse_reference', {reverseReferences: [{target:'AuditEvent', property:'agent'}], id:res.id, name: "Audit Event"}); %>

            <%- include('../partials/json', {res: res, index: index}); %>
        </div>
    <% }); %>
</main>

<%- include('../partials/footer', {url: url, meta: meta}); %>
</body>
</html>
