<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is Practitioner</h1>
    <% resource.forEach(function(res){ %>
        <h2><%= res.resourceType %> (id: <%= res.id %>)</h2>
    <%})%>
        <div>
            <h4>Raw Json</h4>
            <pre><code>
<%- JSON.stringify(res, null, 4) %>
            </code></pre>
        </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
