<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container-fluid p-0">
        <%- include('../partials/header', {resources: resources}); %>

        <main class="d-flex align-items-start">
            <%- include('../partials/searchForm'); %>
            <div class="search-results">
                <% if(Object.keys(body).length > 0 && resources.length > 0){ %>
                <table class="table sticky-table">
                    <thead>
                        <tr>
                            <% formData.forEach(function(field){%>
                            <th><%= field.label %></th>
                            <%})%>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% resources.forEach(function(res, index){ %>
                        <tr class="row-click" data-identifier="<%=res.id%>">
                            <% formData.forEach(function(field){%>
                            <td><%= searchUtils.fieldValue(res,field.name) %></td>
                            <%})%>
                            <td><%= searchUtils.formatDate(res.meta.lastUpdated) %></td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
                <!-- prettier-ignore -->
                <% } %>
                <%- include('../partials/noResults', {results: resources.length, terms: Object.keys(body).length}); %>
            </div>
        </main>

        <%- include('../partials/footer', {url: url, meta: meta}) %>
        <script type="text/javascript" src="/js/searchResults.js"></script>
    </body>
</html>
