<% if (!Array.isArray(codeableConceptsWithValue)) {
    codeableConceptsWithValue = [codeableConceptsWithValue];
} %>
<% if (codeableConceptsWithValue && codeableConceptsWithValue.length > 0 && codeableConceptsWithValue[0]) { %>
    <div>
        <h4><%= name %></h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Text</th>
                <th scope="col">Code System</th>
                <th scope="col">Code</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <% codeableConceptsWithValue.forEach(function(codeableConceptWithValue){ %>
                <% if(codeableConceptWithValue && codeableConceptWithValue[codePropertyName] && codeableConceptWithValue[codePropertyName].coding){ %>
                    <% codeableConceptWithValue[codePropertyName].coding.forEach(function(coding){ %>
                        <% if (coding) { %>
                            <tr>
                                <td><%= codeableConceptWithValue[codePropertyName].text %></td>
                                <% if (searchParameter) { %>
                                    <td>
                                        <a href="/4_0_0/<%= resourceType %>?<%= searchParameter %>=<%= coding.system %>|"><%= coding.system %></a>
                                    </td>
                                    <td>
                                        <a href="/4_0_0/<%= resourceType %>?<%= searchParameter %>=<%= coding.system %>|<%= coding.code %>"><%= coding.code %></a>
                                    </td>
                                <% } else { %>
                                    <td><%= coding.system %></td>
                                    <td>
                                        <% if (coding.system === 'http://www.ama-assn.org/go/cpt'){ %>
                                            <a href="https://vsac.nlm.nih.gov/context/cs/codesystem/CPT/version/2022/code/<%= coding.code %>/info"><%= coding.code %></a>
                                        <% } else  if (coding.system === 'http://snomed.info/sct') { %>
                                            <a href="https://vsac.nlm.nih.gov/context/cs/codesystem/SNOMEDCT/version/2022-03/code/<%= coding.code %>/info"><%= coding.code %></a>
                                        <% } else if (coding.system === 'http://hl7.org/fhir/sid/cvx') { %>
                                            <a href="https://vsac.nlm.nih.gov/context/cs/codesystem/CVX/version/2022-08-17/code/<%= coding.code %>/info"><%= coding.code %></a>
                                        <% } else if (coding.system === 'http://hl7.org/fhir/sid/icd-10-cm' || coding.system === 'http://hl7.org/fhir/sid/icd-10'){ %>
                                            <a href="https://vsac.nlm.nih.gov/context/cs/codesystem/ICD10CM/version/2023/code/<%= (coding.code.includes('.') || coding.code.length < 4) ? coding.code : coding.code.substr(0, 3) + '.' + coding.code.substr(3, 10) %>/info"><%= coding.code %></a>
                                        <% } else if (coding.system === 'http://www.nlm.nih.gov/research/umls/rxnorm'){ %>
                                            <a href="https://mor.nlm.nih.gov/RxNav/search?searchBy=RXCUI&searchTerm=<%= coding.code %>"><%= coding.code %></a>
                                        <% } else { %>
                                            <%= coding.code; %>
                                        <% } %>
                                    </td>
                                <% } %>
                                <td>
                                    <% if (codeableConceptWithValue.valueQuantity) { %>
                                        <%= codeableConceptWithValue.valueQuantity.value %> <%= codeableConceptWithValue.valueQuantity.unit %>
                                    <% } else if (codeableConceptWithValue.value) { %>
                                        <%= codeableConceptWithValue.value %>
                                    <% } else if (codeableConceptWithValue.valueString) { %>
                                        <%= codeableConceptWithValue.valueString %>
                                    <% } else if (codeableConceptWithValue.valueBoolean) { %>
                                        <%= codeableConceptWithValue.valueBoolean %>
                                    <% } else if (codeableConceptWithValue.valueInteger) { %>
                                        <%= codeableConceptWithValue.valueInteger %>
                                    <% } else if (codeableConceptWithValue.valueRange) { %>
                                        <%= codeableConceptWithValue.valueRange.low %>
                                        to <%= codeableConceptWithValue.valueRange.high %>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                <% } %>
            <% }) %>
            </tbody>
        </table>
    </div>
<% } %>
