<% if (ratio && ratio.numerator) { %>
    <h5><%= name %>: </h5><%= ratio.numerator.value %> <%= ratio.numerator.unit || "" %>
        of <%= ratio.denominator && ratio.denominator.value %> <%= ratio.denominator && ratio.denominator.unit || "" %>
<% } %>
