<% if (ratio && ratio.numerator) { %>
    <h5><%= name %>:
        <%= ratio.numerator.value %> <%= ratio.numerator.unit || "" %>
        of <%= ratio.denominator && ratio.denominator.value %> <%= ratio.denominator && ratio.denominator.unit || "" %>
    </h5>
<% } %>
