<% if (!Array.isArray(referenceRange)) {
    referenceRange = [referenceRange];
} %>
<% if (referenceRange && referenceRange.length > 0 && referenceRange[0]) { %>
<div>
    <h4><%= name %></h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">low</th>
          <th scope="col">high</th>
          <th scope="col">text</th>
        </tr>
      </thead>
      <tbody>
    <% referenceRange.forEach(function (range) { %>
        <% if (range) { %>
            <tr>
                <td><%= range.id ? range.id : '' %></td>
                <td>
                    <% if(range.low && range.low.value) { %>
                        <%= range.low.value %><%= range.low.unit ? range.low.unit : '' %>
                    <% } %>
                </td>
                <td>
                    <% if(range.high && range.high.value) { %>
                        <%= range.high.value %><%= range.high.unit ? range.high.unit : '' %>
                    <% } %>
                </td>
                <td><%= range.text ? range.text : '' %></td>
            </tr>
        <% } %>
    <% }) %>
      </tbody>
    </table>
</div>
<% } %>
